.custom-editor .ql-container {
 
    color: #000000;           
    border: 1px solid #ced4da; 
    border-radius: 0.375rem;  
    padding: 0.375rem 0.75rem;
  }
  
  .custom-editor .ql-editor::placeholder {
    color: #6c757d; 
  }